<div class="container-fluid">
    <div id="Home" class="row align-items-center hero scroll_section">
        <div class="col-lg-3 offset-lg-2">
            <p> Bajada</p>
            <h1>Titulo Principal</h1>
            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt laudantium illo hic quasi ratione,
                velit praesentium qui repudiandae magnam vitae sapiente ullam numquam alias esse eius, modi nobis
                maxime incidunt?</p>
        </div>
    </div>
</div>

<div class="row my-3">
    <div id="novedades" class="col-md-5 offset-md-2 py-3 scroll_section">
        <h2>Novedades</h2>
        <ul class="lista-novedades">
            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <imag src="img/WhatsApp Image 2020-04-02 at 12.15.15 AM.jpeg"> Producto 1
                </a></li>
            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <imag src="img/WhatsApp Image 2020-04-02 at 12.15.15 AM.jpeg">Producto 2
                </a></li>
            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <imag src="img/WhatsApp Image 2020-04-02 at 12.15.15 AM.jpeg">Producto 3
                </a></li>
            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <imag src="img/WhatsApp Image 2020-04-02 at 12.15.15 AM.jpeg">Producto 4
                </a></li>
            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <imag src="img/WhatsApp Image 2020-04-02 at 12.15.15 AM.jpeg">Producto 5
                </a></li>
        </ul>

    </div> <!--cierra novedades-->
    <!--</div>--!


    <!-Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Producto</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h3>Nombre</h3>
                    <p>Descripcion</p>
                </div>
            </div>
        </div>
    </div> <!--cierra Novedades-->

    <!--Inicia Testimonio-->
    <div class="col-md-3 my-3">
        <div class="rounded py-5 testimonios">
            <h2 class="text-center">Testimonios</h2>
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="testimonio">
                            <h5>"Los mejores de Salta</h5>
                            <p>Oscar</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-item active">
                        <div class="testimonio">
                            <h5>"Excelente servicio</h5>
                            <p>Jose</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-item active">
                        <div class="testimonio">
                            <h5>"Unicos</h5>
                            <p>Susana</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div><!--cierra testimonios-->
</div> <!--cierra fila de novedades y de testimonios-->

<!--Inicia historia-->
<div id="historia" class="row align-items-center py-4 scroll_section ">
    <div class="col-lg-2 col-md-3 offset-lg-2 d-none d-sm-block">
        <img src="images/brujita luna circular.png" alt="historia 1" class="img-fluid">
    </div>
    <div class="col-lg-2 col-md-3 d-none d-sm-block">
        <img src="images/brujita luna circular.png" alt="historia 2" class="img-fluid">
    </div>
    <div class="col-12 d-sm-none">
        <img src="images/brujita luna circular.png" alt="historia 3" class="img-fluid">
    </div>
    <div class="col-md-4 col-md-6 mt-sm-0">
        <h2>Historia</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam ullam ducimus quaerat maxime illo nihil
            eligendi asperiores officia voluptatibus impedit aliquam, veritatis error iure ipsa earum nostrum amet.
            Iste, omnis!</p>
    </div>
</div>

<!--Finaliza Historia-->

<!--inicio de nosotros-->
<div id="nosotros" class="row align-items-stretch my-3 staff py-4 scroll_section" class="col-lg-8 offset-lg-2">
    <h2>Nosotros</h2>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card">
                <img src="images/20230610_224405.jpg" class="card-img-top" alt="Emilse Erazo">
                <div class="card-body">
                    <h5 class="card-title">Emilse Erazo</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card">
                    <img src="images/Imagen de WhatsApp 2023-07-15 a las 12.41.16.jpg" class="card-img-top"
                        alt="Emilse Erazo">
                    <div class="card-body">
                        <h5 class="card-title">Oscar Bringas</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                            to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- Fin de nosotros-->

    <!--Inicio de mapa+formulario-->
    <div id="Conocenos" class="row py-4 scroll_section">
        <div class="col-md-4 offset-md-2">
            <h2>Visitanos</h2>
            <div class="mapa">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3622.093806218761!2d-65.4343087!3d-24.7922412!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x941bc24e75b1d46b%3A0x138c6ac715bfd182!2sBrujita%20Candy%20Bar!5e0!3m2!1ses!2sar!4v1689611892391!5m2!1ses!2sar"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div> <!--cierra div con id visitanoos-->

        <!--Inicio formulario-->
        <div class="col-md-4 mt-4 mt-sm-0">
            <h2>Contacto</h2>
            <form class="row g-3" action="/" method="post">
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="inputEmail4" name="nombre">
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="inputPassword4" name="apellido">
                </div>
                <div class="col-12">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="email@gmail.com" name="email">
                </div>
                <div class="col-12">
                    <label for="Cel" class="form-label">Cel</label>
                    <input type="text" class="form-control" id="cel" placeholder="..." name="cel">
                </div>
                <div class="col-md-6">
                    <label for="inputCity" class="form-label">Mensaje</label>
                    <textarea class="form-control" id="mensaje" rows="3" name="mensaje">
                  </textarea>
                </div>


                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>

        </div> <!--cierra formulario-->



    </div>


    <!--Fin de mama+formulario-->