/* 
font-family: 'Lilita One', cursive;

font-family: 'Open Sans', sans-serif;
*/

footer{
    background-color: rgb(210, 165, 253);
}

h1, h2 {
    font-family: 'Lilita One', cursive;
}

.hero {
   
    background-size: cover;
    height: 50vh;
    min-height: 600px;
   
    color: white(251, 247, 247);
  }

  .lista-presupuestos {
    margin: 0;
    padding: 0;
    list-style: none;
}

.lista-presupuestos li {
    margin: 4px 0;
}

.lista-presupuestos li a {
    background-color: rgb(184, 114, 249);
    font-family:'Lilita One', cursive; 
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(7, 7, 7);
    transition: all .2s ease-in-out;
    display: block;
}

.lista-presupuestos li a:hover {
    color: rgb(242, 102, 237);
    background-color: rgb(250, 152, 245);
}

.lista-presupuestos li a img {
    width: 120px;
    height: 50px;
    filter: grayscale();
    transition: all .2 ease-in-out;
    margin-right: 4rem;
    opacity: 0.7;
}
.lista-presupuestos li a:hover img {
    filter: none;
    margin-right: 1.4rem;
    opacity: 1;
}
.testimonios {
    background-color: rgb(233, 179, 244);
    padding-bottom: 4rem;

}
.testimonios {
    text-align: center;
    padding: 50px 20px;
}
.staff { 
    background-color: rgb(241, 173, 238);

}
.mapa iframe{
    width: 100%;
    aspect-ratio: 1.6;
}

html {
    scroll-behavior: smooth;
}
.scroll_section {
    scroll-margin-top: 60px;
}